BASE_URL=http://127.0.0.1:3000/api/v1/
USERNAME=admin_user
PASSWORD=
TOKEN=
OWNER=admin_user
PUBLIC_USER=admin_user
REPO_NAME_BASE=repo-demo-public
REPO_NAME_TEMP=repo-auto-001
PRIVATE_REPO_NAME=repo-demo-private
COLLABORATOR=user_b
ISSUE_INDEX=
LABEL_ID=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3308
MYSQL_USER=gitea
MYSQL_PASSWORD=
MYSQL_DB=gitea
